<html>
<head>
  <title>Login Page</title>
</head>
<body>

<!-- with all the data we can then construct a more structured output -->
  <h2>User Info</h2>
  <!-- with messages here helps us declare a variable in our template that we can use within a specific scope -->
  {% with messages = get_flashed_messages() %}
    <!-- check if there are even any messages that came back from the get_flashed_messages() function -->
    {% if messages %}
      <!-- loop through all messages -->
      {% for message in messages %}
        <!-- print the messages one by one each in a paragraph tag -->
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <hr>
    <table>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    {% for user in users: %}
      <tr>
        <td>{{ user['id'] }}</td>
        <td>{{ user['first_name'] }}</td>
        <td>{{ user['last_name'] }}</td>
        <td>{{ user['email'] }}</td>
        <td>{{ user['password'] }}</td>
      </tr>
    {% endfor %}
    </table>

    <hr>

    <form action="/remove" method="POST">
      Enter the ID for the email you wish to delete: <input type="text" name="id">
      <input type="submit" value="Remove Email">
    </form>


</body>
</html>